
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: $color-fondo;
  font-family: $fuente-principal;
  display: flex;
  flex-direction: column;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 50px;
  margin: 30px;
  text-align: center;
  font-family: $fuente-principal;
  font-weight: 700;
}

// Variables de colores
$color-fondo: rgb(207, 191, 165);
$color-texto: #4b1032;
$color-nav: rgb(216, 161, 167);
$color-footer: rgb(157, 176, 153);
$color-carrusel-borde: #800020;
$color-boton: #d08396;
$color-boton-hover: #cc385d;
$color-enlace: #3498db;

$background-color:rgb(207,191,165);


// Variables de fuentes
$fuente-principal: "Indie Flower", cursive;
$fuente-secundaria: 'Comic Neue', cursive;
$fuente-footer: 'Verdana', sans-serif;

// Variables de tamaños
$tamano-titulo: 50px;
$tamano-texto: 18px;
$tamano-nav: 35px;
$tamano-boton: 14px;
$tamano-footer: 0.9rem;

// Variables de bordes
$borde-polaroid: 8px;
$borde-carrusel: 20px;
$borde-boton: 20px;

// Variables de sombras
$sombra-polaroid: 5px 5px 15px rgba(0, 0, 0, 0.2);
$sombra-boton-hover: 4px 4px 12px rgba(0, 0, 0, 0.2);
